* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Darumadrop_One";
    src: local("Darumadrop_One"), url("../assets/fonts/Darumadrop_One/Darumadrop_One-Regular.ttf"), format("truetype");
    font-weight: 500;
    display: swap;
}